/*-----VISIT-----*/
.visit-content{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: skyblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
.link-content{
    margin-top: 15px;
}